.menu{
    float:left;
    width:80px;

}

.menu li{
    list-style: none;
    height: 30px;
    line-height: 30px;
}
.menu li:not(:last-child){
    border-bottom:1px dotted #dedede;
}



#page-container{
    margin-left:130px;
}