.list-page-app .detail-page li {
    list-style: none;
    padding: 10px;
}
.list-page-app .detail-page label {
    font-weight: bold;
    display: inline-block;
    line-height: 21px;
    margin-right: 10px;
    width: 100px;
}
.list-page-app .ant-checkbox-wrapper{
    width:32px;
}

.confirmContent{
    text-align: center;
}
.confirmContent h3{
    margin-bottom:20px;
}
.confirmContent .cm-btn-danger{
    margin-right:10px;
}